<%- include('header') %>
<div class="container-new">
<% lists.forEach(function(list) {%>
    <div class="list">
        <form action="/updateList" method="post">
            <input type="text" name="listTitle" value="<%= list.title %>" onChange="this.form.submit()">
            <input type="hidden" name="listID" value="<%=list.id%>">
        </form>
        <%- include('card', {items: items, list: list}) %>
    </div>
<% }); %> 
</div>

<%- include('footer') %>